<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tabTest.css') }}" rel="stylesheet">
</head>
<body>
<div class="tab" role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-top:0px;" id="docTabs">
        <li role="presentation" class="active"><a href="#Section_new"
                                                  aria-controls="home" role="tab" data-toggle="tab"> 最新</a>
        <li role="presentation"><a href="#Section_week"
                                   aria-controls="profile" role="tab" data-toggle="tab">7天热门</a>
        <li role="presentation"><a href="#Section_month"
                                   aria-controls="messages" role="tab" data-toggle="tab">30天热门</a>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="Section_new">
            <p>
                tab1中的内容
            </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Section_week">
            <p>
                tab2中的内容
            </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Section_month">
            <p>
                tab3中的内容
            </p>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>